/*VISUALLY-HIDDEN*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  color: var(--text-color);
}

:root {
  --bodybg-color: #e5e5e5;
  --link-hover: #2196f3;
  --button-hover: #ffffff;
  --buttonbg-color: #F5F4FA;
  --text-color: #212121;
  --link-color: #212121;
  --customers-hover: #2196F3;
}

/*COMMON*/
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*CONTAINER*/
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.container--theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 1199px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
  }
}
/*LOGO*/
.logo {
  text-decoration: none;
}

.web {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web--header {
  color: #2196f3;
}
.web--footer {
  color: #2196f3;
}

.studio {
  font-family: "Raleway", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio--header {
  color: #212121;
  padding-right: 83px;
}
.studio--footer {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .studio--header {
    padding-right: 93px;
  }
}
/*contact*/
.contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contact--header {
  display: none;
}
.contact, .contact__icon {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon {
  fill: #757575;
}
.contact:hover, .contact:hover .contact__icon, .contact:focus, .contact:focus .contact__icon {
  color: var(--link-hover);
  fill: var(--link-hover);
}

@media screen and (min-width: 768px) {
  .contact--header {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .contact__icon--position {
    margin-right: 10px;
  }
}
/*BUTTON*/
.button {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  width: 200px;
  height: 50px;
}

/*social*/
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: rgba(255, 255, 255, 0.1);
}
.social__link, .social__link svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:hover svg, .social__link:focus, .social__link:focus svg {
  background-color: #2196F3;
  fill: #ffffff;
}
.social__icon {
  fill: #AFB1B8;
}
.social__icon--footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/*newsletter*/
.newsletter--footer {
  padding-top: 60px;
}
.newsletter__headline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.newsletter__form {
  display: block;
}
.newsletter__form--footer {
  margin-top: 20px;
}
.newsletter__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter__input--footer {
  padding-left: 16px;
}
.newsletter__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.newsletter__signup {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.newsletter__signup--footer {
  padding-right: 24px;
}
.newsletter__button {
  display: flex;
  justify-content: center;
}

/* MODAL SECTION */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-property: scale;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  transform: scale(0.1);
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.close-btn__svg {
  width: 18px;
  height: 18px;
}

.modal {
  width: calc(100vw - 30px);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  position: absolute;
  min-height: 609px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transition-property: scale;
  transform: translate(-50%, -50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn {
  top: 8px;
  right: 8px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__text--form {
  padding-top: 10px;
  padding-bottom: 4px;
}
.modal__svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg--person {
  position: absolute;
  top: 124px;
  left: 52px;
}
.modal__svg--phone {
  position: absolute;
  top: 194px;
  left: 51.77px;
}
.modal__svg--email {
  position: absolute;
  top: 260px;
  left: 50.5px;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input--form {
  padding-left: 42px;
}
.modal__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:focus {
  border-color: #2196F3;
  outline: none;
}
.modal__input:focus {
  border-color: #2196F3;
  outline: none;
}
.modal__label:focus-within .modal__svg {
  fill: #2196F3;
}
.modal__button {
  display: flex;
  justify-content: center;
}

.modal-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-policy__text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-policy__text--form {
  margin-top: 20px;
}
.modal-policy__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 2px;
  margin-right: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-policy:checked + .modal-policy__text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: 16px 15px;
}
.modal-policy__link {
  color: #2196F3;
}
.modal-policy__button {
  margin-top: 30px;
}

.button__send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
  .modal__title {
    margin-left: 0px;
    margin-right: 0px;
  }
  .modal__svg--person {
    position: absolute;
    top: 104px;
    left: 52px;
  }
  .modal__svg--phone {
    position: absolute;
    top: 171px;
    left: 51.77px;
  }
  .modal__svg--email {
    position: absolute;
    top: 240px;
    left: 50.5px;
  }
  .modal-policy__text {
    font-size: 14px;
    line-height: 24px;
  }
}
/* HEADER SECTION */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header--start {
  border-bottom: 1px solid #EEEEEE;
}

.navigation__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts {
    list-style: none;
    display: block;
    margin-left: 50px;
  }
  .header--start {
    border-bottom: 1px solid #EEEEEE;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .portfolio__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 4px;
    margin-top: 29px;
    background: #2196F3;
    border-radius: 2px;
  }
  .navigation {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .navigation__list {
    display: flex;
    flex-direction: row;
  }
  .navigation--header {
    padding-left: 0px;
    padding-right: 275px;
  }
  .navigation__item--header {
    margin-right: 46px;
  }
  .navigation__link {
    text-decoration: none;
    color: var(--link-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--link-hover);
  }
  .navigation__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 4px;
    margin-top: 29.5px;
    background: #2196F3;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
  }
  .header__container {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .contact--header {
    padding-left: 30px;
  }
  .navigation {
    margin-right: 260px;
  }
}
.mobile-menu__container {
  position: fixed;
  overflow: scroll;
  display: flex;
  padding-left: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.is-open {
  transform: translateX(0%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close {
  position: absolute;
  top: 21px;
  right: 25px;
  fill: black;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.mobile-menu__open {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__list {
  list-style: none;
  color: black;
  font-size: 40px;
}

.mobile-menu__list:not(:last-child) {
  padding-bottom: 36px;
}

.mobile-menu__mail {
  color: #757575;
  font-size: 26px;
  list-style: none;
  margin-bottom: 32px;
}

.mobile-menu__phone {
  font-size: 20px;
  list-style: none;
}

.mobile-menu__mail-link {
  color: #757575;
  text-decoration: none;
}

.mobile-menu__phone-link {
  color: #757575;
  text-decoration: none;
}

.mobile-menu__mail-link:hover,
.mobile-menu__mail-link:focus {
  color: #2196F3;
}

.mobile-menu__phone-link:hover,
.mobile-menu__phone-link:focus {
  color: #2196F3;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__link {
  text-decoration: none;
  color: black;
}

.mobile-menu__ul {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 0px;
}

.mobile-menu__ul-contacts {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.mobile-menu__line {
  width: 22px;
  height: 0px;
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__social-media {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 16px;
  padding-left: 0px;
}

.mobile-menu__social-media-list {
  color: #2196F3;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  cursor: pointer;
  letter-spacing: 0.02em;
}

.modal-mobile__svg {
  z-index: 10;
}

.modal-mobile__svg:focus,
.modal-mobile__svg:hover {
  color: #2196F3;
}

@media screen and (min-width: 480px) {
  .mobile-menu__phone {
    font-size: 24px;
  }
  .mobile-menu__mail {
    color: #757575;
    font-size: 34px;
  }
  .mobile-menu__social-media-list {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .logo-link {
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 93px;
  }
  .mobile-menu {
    display: none;
  }
}
/* THEME SECTION */
.theme {
  color: var(--text-color);
  background-color: var(--brand-background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  max-width: 1600px;
  padding-right: 42px;
  padding-left: 42px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.theme__headline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0.06em;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}
.theme__button {
  margin-top: 30px;
  animation: data-modal-open;
}

@media screen and (min-width: 768px) {
  .theme {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/header.jpg");
  }
  .theme__tittle {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .theme {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.jpg");
    margin-left: auto;
    margin-right: auto;
  }
  .theme__headline {
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
    width: 696px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .theme {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/header@2x.jpg");
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .theme {
    min-height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/header@2x.jpg");
    background-size: cover;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .theme {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/header@2x.jpg");
    background-size: cover;
  }
}
/* FILTER SECTION */
.filter--portfolio {
  padding-top: 60px;
  padding-bottom: 0px;
}
.filter__button {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  background-color: var(--buttonbg-color);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  border: 0px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: var(--button-hover);
  background-color: var(--link-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.filter__item {
  margin-bottom: 15px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter__list {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
  }
  .filter__item {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 90px;
    padding-bottom: 20px;
  }
}
/* PORTFOLIO SECTION */
.album--portfolio {
  padding-top: 0px;
  padding-bottom: 60px;
}
.album__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% - 30px);
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.album__item {
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
.album__figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.album__figure:hover .overlay {
  transform: translatey(0);
}
.album__figure:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.album__figcaption {
  position: relative;
  z-index: 100;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  width: 100%;
  background: #FFFFFF;
  letter-spacing: 0.06em;
}
.album__figcaption--position {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  margin-top: -5.5px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.album__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.album__text--position {
  padding-top: 4px;
}
.album__image {
  object-fit: cover;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 99;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform, translate;
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.overlay__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-bottom: 107px;
}
.overlay__text--album {
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .album__list {
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
  }
  .album__figcaption {
    width: 100%;
  }
  .album__image {
    width: 100%;
  }
  .album__overlay {
    width: 100%;
  }
  .album__figure {
    width: calc(50vw - 45px);
  }
  .album__item {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .album {
    padding-bottom: 94px;
  }
  .album__list {
    justify-content: space-between;
    flex-basis: calc((100% - 30px) / 3);
  }
  .album__text {
    width: 370px;
  }
  .album__figure {
    width: 370px;
  }
  .album__image {
    width: 100%;
  }
  .overlay {
    width: 370px;
  }
  .overlay__text--album {
    margin-right: 45px;
  }
}
/* LOREM SECTION */
.lorem {
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  padding-top: 60px;
}
.lorem__list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.lorem__link {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
}
.lorem__picture {
  width: 70px;
  height: 70px;
}
.lorem__headline {
  line-height: 1.14;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
.lorem__headline--start {
  padding-top: 30px;
  margin-bottom: 10px;
}
.lorem__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  padding-bottom: 30px;
}
.lorem__text::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc((100% - 30px) / 2);
  }
  .lorem__item {
    width: calc(50% - 15px);
  }
  .lorem__headline {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .lorem {
    padding-bottom: 64px;
    padding-top: 94px;
  }
  .lorem__list {
    display: flex;
    justify-content: space-between;
  }
  .lorem__item:not(:first-child) {
    margin-left: 30px;
  }
  .lorem__headline {
    text-align: left;
  }
}
/* WORK SECTION */
.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
    padding-bottom: 94px;
  }
  .work__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .work__headline--start {
    padding-bottom: 50px;
    margin: 0;
  }
  .work__headline::first-letter {
    text-transform: uppercase;
  }
  .work__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .work__figcaption {
    position: absolute;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work__figcaption--end {
    top: 1432px;
  }
  .work__description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
/* OUR TEAM SECTION */
.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}
.team__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__headline--top {
  padding-bottom: 30px;
  margin: 0;
}
.team__headline::first-letter {
  text-transform: uppercase;
}
.team__list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: space-between;
}
.team__figure {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.team__figcaption {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.team__name {
  font-weight: 500;
}
.team__name--figcaption {
  margin: 10px 0px;
}
.team__job {
  font-weight: 400;
  color: #757575;
}
.team__job--figcaption {
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__social {
  padding-top: 16px;
  padding-left: 122px;
  padding-right: 122px;
}
.team__img {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__figure {
    width: calc(50vw - 30px);
  }
  .team__social {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__list {
    display: flex;
    flex-direction: row;
  }
  .team__figure {
    width: 270px;
  }
  .team__social {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* CUSTOMERS SECTION */
.customers {
  padding-bottom: 60px;
  padding-top: 60px;
}
.customers__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.customers__headline--top {
  margin: 0;
}
.customers__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px) / 2);
  margin-bottom: 0px;
  margin-top: 0px;
}
.customers__item {
  width: calc((100% - 30px) / 2);
  margin-top: 30px;
}
.customers__icon {
  width: 100%;
}
.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border-width: 1px;
  border-radius: 4px;
  border-color: #AFB1B8;
  border-style: solid;
}
.customers__link, .customers__link svg {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:hover svg, .customers__link:focus, .customers__link:focus svg {
  border-color: var(--customers-hover);
  fill: var(--customers-hover);
}
.customers__icon {
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__list {
    flex-basis: calc((100% - 60px) / 3);
  }
  .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .customers__list {
    flex-wrap: nowrap;
    gap: 30px;
  }
}
/* FOOTER SECTION */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__join-us {
  margin-top: 60px;
}

.join-us__headline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.join-us__social {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: center;
  margin-top: 20px;
}
.join-us__link {
  margin-right: 10px;
}

.us {
  text-align: center;
}
.us__logo {
  padding-bottom: 20px;
}
.us__location {
  margin-top: 20px;
}
.us__location, .us__data {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
}
.us__data {
  color: rgba(255, 255, 255, 0.6);
  padding-top: 8px;
  padding-bottom: 8px;
}
.us__contact {
  padding-left: 0px;
  padding-top: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__div {
    display: flex;
    justify-content: space-around;
  }
  .newsletter__input--footer {
    max-width: 480px;
  }
  .footer__join-us {
    margin-top: 0px;
  }
  .newsletter--footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__div {
    display: flex;
    gap: 30px;
  }
  .us {
    margin-right: 64px;
  }
  .us__location {
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
  .us__data {
    display: block;
  }
  .join-us {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-top: 12px;
  }
  .join-us__headline {
    text-align: left;
  }
  .newsletter {
    padding-top: 12px;
    padding-left: 78px;
  }
  .newsletter__headline {
    text-align: left;
  }
  .newsletter__form {
    display: flex;
    margin-top: 0px;
  }
  .newsletter__label {
    margin-right: 12px;
  }
  .newsletter__input {
    width: 358px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=main.css.map */