body {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    color: var(--text-color);
}

:root {
    --bodybg-color: #e5e5e5;
    --link-hover: #2196f3;
    --button-hover: #ffffff;
    --buttonbg-color: #F5F4FA;
    --text-color: #212121;
    --link-color: #212121;
    --customers-hover: #2196F3;
}