/* FOOTER SECTION */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

&__join-us {
    margin-top: 60px;
}
}

.join-us {

&__headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

&__social {
    list-style: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    margin-top: 20px;
}

&__link {
    margin-right: 10px;
}
}

.us {
    text-align: center;
   

&__logo {
    padding-bottom: 20px;
}

&__location {
    margin-top: 20px;
}

&__location,
&__data {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}

&__data {
    color: rgba(255, 255, 255, 0.6);
    padding-top: 8px;
    padding-bottom: 8px;
}

&__contact {
    padding-left: 0px;
    padding-top: 9px;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__div {
        display: flex;
        justify-content: space-around;
    }

    .newsletter__input--footer {
        max-width: 480px;
    }

    .footer__join-us {
        margin-top: 0px;
    }

    .newsletter--footer {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer__div {
        display: flex;
        gap: 30px;
    }

    .us {
        margin-right: 64px;

        &__location {
            font-size: 14px;
            line-height: 1.7142857143;
            letter-spacing: 0.03em;
        }

        &__data {
            display: block;
        }
    }

    .join-us {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        margin-top: 12px;

    &__headline {
        text-align: left;
    }
    }

    .newsletter {
        padding-top: 12px;
        padding-left: 78px;

    &__headline {
        text-align: left;
    }

    &__form {
        display: flex;
        margin-top: 0px;
    }
        &__label {
            margin-right: 12px;
        }

        &__input {
            width: 358px;
            margin-top: 20px;
        }
    }
}