/* HEADER SECTION */

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

&--start {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEEEEE;
}

&__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
}

.portfolio__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 4px;

    margin-top: 29px;

    background: #2196F3;
    border-radius: 2px;
}

.navigation {

&__list {
    display: flex;
    flex-direction: row;

&--header {
    padding-left: 0px;
    padding-right: 275px;
}
}

&__item--header {
    margin-right: 46px;
}

&__link {
    text-decoration: none;
    color: var(--link-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--link-hover);
}

&--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 4px;
    margin-top: 29.5px;

    background: #2196F3;
    border-radius: 2px;
}
}
}