/* THEME SECTION */

.theme {
    color: var(--text-color);
    background-color: var(--brand-background-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 1600px;
    padding-right: 42px;
    padding-left: 42px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/mobile/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

&__headline {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-transform: uppercase;
    color: #ffffff;
    justify-content: center;
}

&__button {
    margin-top: 30px;
    animation: data-modal-open;
}
}

@media screen and (min-width: 768px) {
    .theme {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/tablet/header.jpg');

        &__tittle {
            display: block;
        }
    }
}

@media screen and (min-width: 1200px) {
    .theme {
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/Img.jpg');
        margin-left: auto;
        margin-right: auto;

        &__headline {
            font-size: 44px;
            line-height: 1.3636363636;
            letter-spacing: 0.06em;
            width: 696px;
        }
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
(min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
(min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    .theme {
        min-height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/mobile/header@2x.jpg');
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
(min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
(min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    .theme {
        min-height: 400px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/tablet/header@2x.jpg');
        background-size: cover;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .theme {
        min-height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/desktop/header@2x.jpg');
        background-size: cover;
    }
}

